.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: #fff;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 41.6px */
}

.about_text {
  color: #fff;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%; /* 56.246px */
}

.techno {
  padding: 15px 0 30px 0;
  font-size: 28px;
}

.item {
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  padding-bottom: 7px;
}

.item span {
  background: linear-gradient(170deg, #ff008a 0%, #8f00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.item .bold {
  color: #fff;
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  font-weight: 600;
}

.gif {
  margin: 0 auto;
}

.gif img {
  margin: 10px 0;
  max-width: 450px;
}

@media (max-width: 758px) {
  .about {
    padding: 0 15px;
  }

  p {
    font-size: 32px;
  }

  .we {
    max-height: 200px;
  }

  .about_text {
    margin-bottom: 20px;
  }

  .item {
    font-size: 18px;
  }

  .item span {
    font-size: 20px;
  }
  .gif {
    margin: 0 auto;
  }

  .gif img {
    margin: 10px 0;
    max-width: 150px;
  }
}
