header {
  position: sticky;
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 30px;
}

.item {
  color: rgba(255, 255, 255, 0.48);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.item:hover {
  color: #dddddd;
  transition: all 0.2s ease-in;
}

.button {
  display: inline;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  background: linear-gradient(90deg, #ff008a 0%, #8f00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.button:hover {
  text-shadow: rgba(255, 255, 255, 0.15) 1px 1px;
}

@media (max-width: 758px) {
  header {
    display: none;
  }
}
