.footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: #fff;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.text span {
  font-family: Roboto;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 96px */
  letter-spacing: 7.68px;
  background: linear-gradient(90deg, #ff6b00 0%, #db00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.text span:hover {
  text-shadow: rgba(255, 255, 255, 0.15) 1px 1px;
}

.link {
  margin-top: 50px;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 96px */
  background: linear-gradient(90deg, #ff6b00 0%, #db00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

@media (max-width: 758px) {
  .text {
    padding-left: 15px;
    font-size: 24px;
  }

  .text span {
    font-size: 32px;
  }

  .link {
    padding-left: 15px;
    margin-top: 10px;
    font-family: Roboto;
    font-size: 32px;
  }
}
